<!--
    Dal jsem do html lang sk protože proč ne lol
    https://github.com/JonanekDev/
-->
<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url.napicu.eu | Nejvíc na piču odkazy</title>
    <link rel="stylesheet" href="./public/style.css">
</head>
<body>
    <div id="Content">
    <h1>
        URL.NAPICU.EU
    </h1>
    <form>
        <input type="text" id="url" placeholder="Nevim něco tu napiš">.napicu.eu
        
        <input type="text" id="redirect" placeholder="Odkaz na, který má doména přesměrovat">
        <p>
            Autor má právo smazat URL a nahradit ji svým obsahem bez jakéhokoliv upozornění.
        </p>
        <p>
            Je možné vytvořit pouze jednu URL za 24 hodin. (Omezení platí pro IP adresu)
        </p>
        <button id="registrovat">Registrovat URL</button>
    </form>
</div>
</body>
<link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="./public/picovina.js"></script>
</html>